@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

body, 
i,
footer {
    background-color: #f9f9f9;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.5rem;
    border: none;
}

/*-- COLORS ! KEEP FOR DEV ONLY 
accent cad2c5
interactive elements 84a98c
font 222725 */

/*-- Font */
header {
    font-size: 3rem; 
    display: inline;
} 
   /*-- differing weights for logo */
#brew {
    font-weight: 200;
}
#right {
    font-weight: 600;
}

/*--Navigation */
#header-container {
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#navbar-brand { 
    font-size: 5rem;
    text-align: center;
} 

i,
.nav-icons {
    font-size: 2.5rem;
    color: #84a98c;
    background-color: #f9f9f9; 
    border: none; 
}

li {
    list-style: none;
}

/*-- Game Container */
#game-container {
    width: 75vw;
    height: 75vh;
} 

/*-- begin speech bubbles made with generator by http://doodlenerd.com/ */
.c-bubble {
   position: relative;
   width: 250px;
   height: 120px;
   padding: 4px;
   background: #f9f9f9;
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   border-radius: 30px;
    border: #cad2cd solid 6px;
    overflow: scroll;
    
}

.c-bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 20px 20px 20px 0;
    border-color: transparent #f9f9f9;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -20px;
    left: -20px;
    top: 50%;
    overflow: scroll;

}

.c-bubble:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 25px 25px 25px 0;
    border-color: transparent #cad2cd;
    display: block;
    width: 0;
    z-index: 0;
    margin-top: -25px;
    left: -31px;
    top: 50%;
    overflow: scroll;

}
/*-- end speech bubbles made with generator by http://doodlenerd.com/ */

/*--Footer */ 
a {
    color: #84a98c
}

a:hover {
    opacity: 0.5;
}

footer {
    text-align: center; 
    margin-bottom: 1rem;
}

/*FAQ */
#faq-body-container{
    
}

/*--Media Queries */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}