@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;400;600&display=swap');

.container-fluid,
.container {
    border: 1px dotted orange;
}

/*-- Font */
header,
body,
footer {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2rem;
}

/*--Navigation */

#navbar-brand {
    font-size: 5rem;
    text-align: center;
}

li {
    list-style: none;
}



/*--Footer */

/*--Media Queries */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}