@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body, 
i,
footer {
    background-color: #f9f9f9;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.5rem;
    border: none;
}

/*-- COLORS ! KEEP FOR DEV ONLY 
accent cad2c5
interactive elements 84a98c
font 222725 */

/*-- Font */

   /*-- differing weights for logo */
#brew {
    font-weight: 200;
}
#right {
    font-weight: 600;
}

/*--Navigation */
#logo { 
    font-size: 5rem;
    text-align: right;
    padding: 0;
} 
 
i,
.play-icons {
    font-size: 2.5rem;
    color: #84a98c;
    background-color: #f9f9f9; 
    border: none; 
}

/*-- Game Container */
p { 
    font-size: 80%;
}

#game-container {
    position: relative;
    width: 50vw;
    height: 50vh;
    border: 1px dotted orange;
} 

.c-bubble,
.u-bubble {
    border: 5px dotted red;
}

.c-bubble {
    text-align: left;
	float:left;
    width: 50%;
    height: 25%;
}

.u-bubble {
    text-align: right;
	float:right;
    width: 50%;
    height: 25%;
}

/*--Footer */ 
a {
    color: #84a98c
}

a:hover {
    opacity: 0.5;
}

footer {
    text-align: center; 
}

/*--Media Queries */
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    #logo {
        text-align: center;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}